%header
  %ul
    %li= link_to image_tag('logo.png', id:"logo"), questions_path
    %li= image_tag "sublogo.png", id: "sublogo"
    %li
      / %form.form-inline.input_group
      /   .form-group
      /     %input.form-control{:placeholder => "Q&Aを探す", :type => "text"}
      /   %button.btn.btn-default{:href => "index_searched", :type => "submit"}検索
    -if logged_in?
      %li= link_to '質問する', new_question_path, class: "a btn btn-default newquestion"
    -else
      %li= link_to '質問する', new_registrations_path, class: "a btn btn-default newquestion", method: :get
    %li= link_to "質問一覧", questions_path, class: "a btn btn-default newquestion"
  .clear
.line