= render 'header'

/ ROW
.row
  .col-md-0
  .col-md-9
    .content_wrap
      .content


        / カテゴリ１
        %h3
          進路相談

        %ul
          %li.float.indextop1 質問
          %li.float.indextop2 詳細
          %li.float.indextop3 投稿時
          %li.float.indextop4 回答数
        .clear

        = "category_id == 1, "家庭学習""
        %ul
          - @question.each do |question|
            -if @question.categories.select(:id) == 1
              %li.indexcontentbox
                = link_to user_question_path(current_user, question) do
                  .float.indexcontent.indexcontent1= question.title[0,14]
                  .float.indexcontent.indexcontent2= question.content[0,6]
                  .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
                  .float.indexcontent.indexcontent4= question.answers.count
                .clear

        / カテゴリ２
        .space10px
        .space10px
        .space10px
        .space10px
        %h3
          学校・塾評判
        %ul
          %li.float.indextop1 質問
          %li.float.indextop2 詳細
          %li.float.indextop3 投稿時
          %li.float.indextop4 回答数
        .clear

        / %ul
        /   - @questions.where(category2: true).each do |question|
        /     %li.indexcontentbox
        /       = link_to user_question_path(question.user_id, question) do
        /         .float.indexcontent.indexcontent1= question.title[0,14]
        /         .float.indexcontent.indexcontent2= question.content[0,6]
        /         .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
        /         .float.indexcontent.indexcontent4= question.answers.count
        /       .clear


        / / カテゴリ３
        / .space10px
        / .space10px
        / .space10px
        / .space10px
        / %h3
        /   大学評判

        / %ul
        /   %li.float.indextop1 質問
        /   %li.float.indextop2 詳細
        /   %li.float.indextop3 投稿時
        /   %li.float.indextop4 回答数
        / .clear

        / %ul
        /   - @questions.where(category3: true).each do |question|
        /     %li.indexcontentbox
        /       = link_to user_question_path(question.user_id, question) do
        /         .float.indexcontent.indexcontent1= question.title[0,14]
        /         .float.indexcontent.indexcontent2= question.content[0,6]
        /         .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
        /         .float.indexcontent.indexcontent4= question.answers.count
        /       .clear

        / / カテゴリ４
        / .space10px
        / .space10px
        / .space10px
        / .space10px
        / %h3
        /   小学校/IB PYP
        / %ul
        /   %li.float.indextop1 質問
        /   %li.float.indextop2 詳細
        /   %li.float.indextop3 投稿時
        /   %li.float.indextop4 回答数
        / .clear

        / %ul
        /   - @questions.where(category4: true).each do |question|
        /     %li.indexcontentbox
        /       = link_to user_question_path(question.user_id, question) do
        /         .float.indexcontent.indexcontent1= question.title[0,14]
        /         .float.indexcontent.indexcontent2= question.content[0,6]
        /         .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
        /         .float.indexcontent.indexcontent4= question.answers.count
        /       .clear

        / / 5
        / .space10px
        / .space10px
        / .space10px
        / .space10px
        / %h3
        /   中学校/IB MYP
        / %ul
        /   %li.float.indextop1 質問
        /   %li.float.indextop2 詳細
        /   %li.float.indextop3 投稿時
        /   %li.float.indextop4 回答数
        / .clear

        / %ul
        /   - @questions.where(category5: true).each do |question|
        /     %li.indexcontentbox
        /       = link_to user_question_path(question.user_id, question) do
        /         .float.indexcontent.indexcontent1= question.title[0,14]
        /         .float.indexcontent.indexcontent2= question.content[0,6]
        /         .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
        /         .float.indexcontent.indexcontent4= question.answers.count
        /       .clear


        / / 6
        / .space10px
        / .space10px
        / .space10px
        / .space10px
        / %h3
        /   高校/IB DP
        / %ul
        /   %li.float.indextop1 質問
        /   %li.float.indextop2 詳細
        /   %li.float.indextop3 投稿時
        /   %li.float.indextop4 回答数
        / .clear

        / %ul
        /   - @questions.where(category6: true).each do |question|
        /     %li.indexcontentbox
        /       = link_to user_question_path(question.user_id, question) do
        /         .float.indexcontent.indexcontent1= question.title[0,14]
        /         .float.indexcontent.indexcontent2= question.content[0,6]
        /         .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
        /         .float.indexcontent.indexcontent4= question.answers.count
        /       .clear

        / / 7
        / .space10px
        / .space10px
        / .space10px
        / .space10px
        / %h3
        /   課外活動/CAS
        / %ul
        /   %li.float.indextop1 質問
        /   %li.float.indextop2 詳細
        /   %li.float.indextop3 投稿時
        /   %li.float.indextop4 回答数
        / .clear

        / %ul
        /   - @questions.where(category7: true).each do |question|
        /     %li.indexcontentbox
        /       = link_to user_question_path(question.user_id, question) do
        /         .float.indexcontent.indexcontent1= question.title[0,14]
        /         .float.indexcontent.indexcontent2= question.content[0,6]
        /         .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
        /         .float.indexcontent.indexcontent4= question.answers.count
        /       .clear


        / / 8
        / .space10px
        / .space10px
        / .space10px
        / .space10px
        / %h3
        /   TOK/EE
        / %ul
        /   %li.float.indextop1 質問
        /   %li.float.indextop2 詳細
        /   %li.float.indextop3 投稿時
        /   %li.float.indextop4 回答数
        / .clear

        / %ul
        /   - @questions.where(category8: true).each do |question|
        /     %li.indexcontentbox
        /       = link_to user_question_path(question.user_id, question) do
        /         .float.indexcontent.indexcontent1= question.title[0,14]
        /         .float.indexcontent.indexcontent2= question.content[0,6]
        /         .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
        /         .float.indexcontent.indexcontent4= question.answers.count
        /       .clear

        / / 9
        / .space10px
        / .space10px
        / .space10px
        / .space10px
        / %h3
        /   試験勉強
        / %ul
        /   %li.float.indextop1 質問
        /   %li.float.indextop2 詳細
        /   %li.float.indextop3 投稿時
        /   %li.float.indextop4 回答数
        / .clear

        / %ul
        /   - @questions.where(category9: true).each do |question|
        /     %li.indexcontentbox
        /       = link_to user_question_path(question.user_id, question) do
        /         .float.indexcontent.indexcontent1= question.title[0,14]
        /         .float.indexcontent.indexcontent2= question.content[0,6]
        /         .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
        /         .float.indexcontent.indexcontent4= question.answers.count
        /       .clear


        / / other
        / .space10px
        / .space10px
        / .space10px
        / .space10px
        / %h3
        /   そのほかの質問
        / %ul
        /   %li.float.indextop1 質問
        /   %li.float.indextop2 詳細
        /   %li.float.indextop3 投稿時
        /   %li.float.indextop4 回答数
        / .clear

        / %ul
        /   - @questions.where(category1: nil).where(category2: nil).where(category3: nil).where(category4: nil).where(category5: nil).where(category6: nil).where(category7: nil).where(category8: nil).where(category9: nil).each do |question|
        /     %li.indexcontentbox
        /       = link_to user_question_path(question.user_id, question) do
        /         .float.indexcontent.indexcontent1= question.title[0,14]
        /         .float.indexcontent.indexcontent2= question.content[0,6]
        /         .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
        /         .float.indexcontent.indexcontent4= question.answers.count
        /       .clear


        .space10px
        .space10px
  / CONTENT end
  .sidebar.col-md-3
    = render 'sidebar'

= render 'footer'