= render 'header'

.row
  .col-md-9
    / CONTENT
    .content_wrap
      .content
        - if notice
          .alert.alert-info= notice

        %h2 はじめまして。
        %h2 IBひろばは、
        %h2 探求型の国際教育や国際バカロレアについての
        %h2 掲示板です。

        .space10px
        %h5 新規登録をして、ぜひご参加下さいませ。
        .space10px
        %h5 初めてのサイト開発で至らない部分もあるかと思いますが、
        %h5 少しでも自らの両親ふくめ、みなさまのお役に立てるよう尽くしてまいります。

        %h5 管理人　岡庭は、国際バカロレア４５点満点、海外高校首席卒業者で、中学時代から日本と海外の教育について情報発信をしてまいりました。すべての質問に回答がつきます。
        %h5 よろしくお願いいたします。

        .space10px
        .space10px
        .space10px
        .space10px
        .space10px
        %h3 すべての質問一覧
        .space10px
        %ul
          %li.float.indextop1 質問
          %li.float.indextop2 カテゴリー
          %li.float.indextop3 投稿時
          %li.float.indextop4 回答数
          %li.float.indextop4 保存数
        .clear
        %ul
          - @questions.each do |question|
            %li.indexcontentbox
              - if logged_in?
                = link_to user_question_path(current_user, question) do
                  .float.indexcontent.indexcontent1= question.title[0,10]
                  .float.indexcontent.indexcontent2= question.categories.first.name
                  .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
                  .float.indexcontent.indexcontent4= question.answers.count
                  .float.indexcontent.indexcontent5= question.favorites.count
                  .clear
              - else
                .float.indexcontent.indexcontent1= question.title[0,14]
                .float.indexcontent.indexcontent2= question.categories.first.name
                .float.indexcontent.indexcontent3= question.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[question.created_at.wday]})")
                .float.indexcontent.indexcontent4= question.answers.count
                .float.indexcontent.indexcontent5= question.favorites.count
                .clear
        .space10px
        .space10px
        .space10px
        .space10px
        .space10px
        .space10px
        .space10px
        .space10px
        .space10px
        .space10px

      = render 'bottombox'
  .sidebar.col-md-3
    = render 'sidebar'
= render 'footer'
