= render 'header'

/ ROW
.row
  .col-md-1

  .col-md-8
    .content_wrap
      .content

        =form_for :question, url: user_questions_path do |f|
          - if @question.errors.any?
            #error_explanation
              %h2
                = pluralize(@question.errors.count, "error")
                %br このままでは投稿ができません。
              %ul
                - @question.errors.full_messages.each do |msg|
                  %li= msg

          %p
            = f.text_field :title, :class => "input form-control", :placeholder => "質問のタイトル(10文字以内)", :type => "text"
          %p
            = f.text_area :content, :class => "textarea form-control", :placeholder => "質問の内容", :rows => "12"
          %p
            .category1
              .space10px
              カテゴリー（ひとつ以上選択してください。）
              %br
              %p
              - @categories.each do |c|
                = check_box :category, :id, { multiple: true }, c.id, false
                = c.name

            / .category2
            /   .space10px
            /   この質問に答えてほしい人（複数選択可能）
            /   %br
            /     %label.checkbox-inline
            /       %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
            /         IB生
            /     %label.checkbox-inline
            /       %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
            /         IB生の親
            /     %labe.checkbox-inline
            /       %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
            /         そのほかの親
            /     %label.checkbox-inline
            /       %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
            /         教育関係者
            /     %br
            /       .space10px
            / %input.form-control{:placeholder => "キーワード", :type => "text"}
            /   %input.form-control{:placeholder => "キーワード", :type => "text"}
            /     %input.form-control{:placeholder => "キーワード", :type => "text"}
            / .space10px
            / .space10px
            / .file
            /   添付ファイルを選択
            /   %input{:type => "file"}/
          %p
            .box_button
              = f.submit '匿名で質問する', :class => "a btn btn-default"
  / CONTENT end

  .sidebar.col-md-3
    = render 'sidebar'

= render 'footer'