= render 'header'

/ ROW
.row
  .col-md-1
  .col-md-8
    .content_wrap
      .content
        .question
          #question_title
            = @question.title
          #question_info
            = @question.created_at.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})")
            = @questionuser.residence_country
            = "在住"
          #question_content
            = @question.content
            = link_to image_tag('FacebookIcon.png', id:'FacebookIcon'), 'http://www.facebook.com/sharer.php?u='+request.fullpath, :target => :blank, :class => "float_right FacebookIcon"
            -if logged_in?
              -if @question.favorited_by?(current_user, @question)
                = link_to "質問の保存を解除", question_favorites_path(@question), :class => "a btn btn-primary float_right", method: :delete
              -else
                = link_to "質問を保存", question_favorites_path(@question), :class => "a btn btn-primary float_right", method: :post

              - if current_user.id == @question.user_id
                = link_to "編集", edit_user_question_path(current_user, @question), :class => "a edit btn btn-primary float_right"
            -else
              = link_to "質問を保存", new_registrations_path, :class => "a btn btn-primary float_right", method: :get
        - if @answers.count >= 3
          .answerlink
            =link_to "回答する", :action => 'show', :anchor => 'answer'


        - @question.answers.each do |answer|
          .answer
            #answer_info
              =answer.created_at.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})")
              =answer.user.screen_name
              ="さん"
              %br
              ="滞在国："
              =answer.user.residence_country
              ="滞在地："
              =answer.user.residencenow
              / ="立場："
              / =answer.user.status
            #answer_content
              =answer.content
              - if logged_in?
                - if current_user.id == answer.user_id
                  = link_to "編集", edit_question_answer_path(@question, answer), :class => "a edit btn btn-primary float_right"
                / %a.btn.btn-primary.float_right{:href => "#", :type => "button"}
                / %i.fa.fa-thumbs-o-up
                / %span.badge 3
              - else
                = link_to "いいね！", new_registrations_path, :class => "a btn btn-primary float_right", method: :get

        - if logged_in?
          %h2#answer こちらに回答をお書きください。
          = form_for([@question, @question.answers.build]) do |f|
            %p.answerbox
              = f.text_area :content
            %p
              .box_button
                = f.submit '回答する', :class => "a btn btn-default"
        - else
          = link_to '回答するには登録/ログイン', new_registrations_path, :class => "a btn btn-default", method: :get

        .space10px
        .space10px

      / ここに関連するキーワードを入れる?

      / = render 'bottombox'
  / CONTENT end

  .sidebar.col-md-3
    = render 'sidebar'

= render 'footer'