!!! 5
%html
%head

  %title
    IBひろば
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true

  = analytics_init if Rails.env.production?

  / =javascript_include_tag "analytics/one"
  / =javascript_include_tag "analytics/two"

  / :javascript
  /   var _gaq = _gaq || [];
  /   _gaq.push(['_setAccount', UA-61673245-1']);
  /   _gaq.push(['_trackPageview']);
  /   (function() {
  /     var ga = document.createElement('script');
  /     ga.type = 'text/javascript'; ga.async = true;
  /     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  /     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  /   })();

%body{class: "#{controller.controller_path + " " + controller.action_name}", id: "application"}

  %div
    = yield
